*.mtar
dist
node_modules
mtad.yaml

# docker cp for development only. Do not commit
keycloak/themes/base
keycloak/themes/keycloak
keycloak/themes/keycloak-preview

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

/mta_archives/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js