<div class="card-deck">
  <div class="card">
    <div class="card-header"><i class="cib-node-js"></i> Map</div>
    <div class="card-body">
      <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[12]" [center]="[36.1424, 32.8504]"
        (load)="loadMap($event)" class="mb-3">
        <mgl-geojson-source id="geojson" [data]="featureCollection" [cluster]="true" [clusterRadius]="80"
          *ngIf="featureCollection.features.length > 0">
        </mgl-geojson-source>
        <mgl-markers-for-clusters source="geojson" *ngIf="featureCollection.features.length > 0">
          <ng-template mglPoint let-feature>
            <div class="marker" (click)="setCenter(feature)"></div>
          </ng-template>
          <ng-template mglClusterPoint let-feature>
            <div class="marker-cluster" (click)="setCenter(feature)">
              {{ feature.properties?.point_count }}
            </div>
          </ng-template>
        </mgl-markers-for-clusters>
      </mgl-map>
      <table class="table table-responsive-sm table-striped table-bordered">
        <thead>
          <th>ID</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actor 1</th>
          <th>Actor 2</th>
          <th>Country</th>
          <th>Fatalities</th>
          <th class="d-md-down-none">Notes</th>
        </thead>
        <tbody>
          <tr *ngFor="let feature of featureCollection.features" (click)="setCenter(feature)" class="app-row">
            <td>{{ feature.properties.eventId }}</td>
            <td>{{ feature.properties.eventType }}</td>
            <td>{{ feature.properties.eventDate | date }}</td>
            <td>{{ feature.properties.actor1 }}</td>
            <td>{{ feature.properties.actor2 }}</td>
            <td>{{ feature.properties.countryName }}</td>
            <td>{{ feature.properties.fatalities }}</td>
            <td class="d-md-down-none">{{ feature.properties.notes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>