<div class="c-sidebar-brand d-md-down-none">
  <a routerLink="home">
    <img class="c-sidebar-brand-full" src="assets/img/NS2-logo-white.svg" alt="NS2 logo" width="86" />
    <img class="c-sidebar-brand-minimized" src="assets/img/NS2-icon-white.svg" height="30" alt="NS2 Logo" />
  </a>
</div>
<ul class="c-sidebar-nav" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/status" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-speedometer"></i> Status
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/charts" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-chart-pie"></i> Charts
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/analysis" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-puzzle"></i> Analysis
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/event" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-list"></i> Events
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/search" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-magnifying-glass"></i> Search
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" routerLink="home/map" routerLinkActive="c-sidebar-nav-link-primary" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cil-map"></i> Map
    </a>
  </li>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href="https://github.com/mechevarria" target="_blank" (click)="closeOnMobile()">
      <i class="c-sidebar-nav-icon cib-github"></i> Github
    </a>
  </li>
</ul>
<button class="c-sidebar-minimizer c-class-toggler" type="button" (click)="toggleMin()"></button>