<app-sidebar [ngClass]="{'c-sidebar-minimized': isMin,'c-sidebar-show': isShown}">
</app-sidebar>
<div class="c-wrapper">
  <app-header></app-header>
  <div class="c-body">
    <main class="c-main">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer class="c-footer">
      <div class="mfs-auto">
        Powered By
        <a target="_blank" href="https://sapns2.com/">SAP NS2</a>
      </div>
    </footer>
  </div>
</div>
<div [ngClass]="{'c-sidebar-backdrop c-fade c-show': isShown && isMobile()}" (click)="doHide()"></div>