{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "indent": ["error", 2],
        "comma-dangle": ["error", "never"],
        "no-console": ["error", {"allow": ["info", "warn", "error"]}],
        "max-len": ["warn", 180]
    }
}