<div class="card-deck">
  <div class="card">
    <div class="card-header"><i class="cib-spring"></i> Donut Chart</div>
    <div class="card-body">
      <h4 class="card-title">Event Type Statistics</h4>
      <p class="card-text">
        <canvas baseChart [data]="donutData" [labels]="donutLabels" [chartType]="donutType" [colors]="colors">
        </canvas>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><i class="cib-spring"></i> Bar Chart</div>
    <div class="card-body">
      <h4 class="card-title">Country Statistics</h4>
      <p class="card-text">
        <canvas baseChart [datasets]="barData" [labels]="barLabels" [options]="barOptions" [legend]="barLegend"
          [chartType]="barType" [colors]="colors">
        </canvas>
      </p>
    </div>
  </div>
</div>