<header class="c-header c-header-light c-header-fixed">
  <!-- shown in mobile view -->
  <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" (click)="toggleSidebar()">
    <i class="c-icon c-icon-lg cil-menu"></i>
  </button>
  <a class="c-header-brand d-lg-none c-header-brand-sm-up-center" routerLink="home">
    <img src="assets/img/NS2-logo-blue.svg" alt="NS2 logo" width="86" />
  </a>

  <!-- toggle sidebar -->
  <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" (click)="toggleSidebar()" responsive="true">
    <i class="c-icon c-icon-lg cil-menu"></i>
  </button>

  <!-- top right menu -->
  <ul class="c-header-nav ml-auto">
    <!-- notification menu-->
    <li class="c-header-nav-item dropdown d-md-down-none mx-2" dropdown placement="bottom right">
      <a class="c-header-nav-link dropdown-toggle app-no-caret" href role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="(false)">
        <i class="c-icon cil-bell"></i><span class="badge badge-pill badge-info" *ngIf="messages.length > 0">{{ messages.length }}</span>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0 app-scrollable-menu">
        <div class="dropdown-header bg-light text-center app-pointer" (click)="clear()"><strong class="app-underline">Clear Events</strong></div>
        <a class="dropdown-item" *ngFor="let item of messages"><i class="mr-1 c-icon {{ item.classes }}"></i> {{ item.text }} </a>
      </div>
    </li>

    <!-- User Menu -->
    <li class="c-header-nav-item d-md-down-none mx-2 dropdown" dropdown placement="bottom right">
      <a class="c-header-nav-link dropdown-toggle mr-2" href role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="(false)">
        <i class="mr-1 c-icon cil-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbarDropdown" *dropdownMenu>
        <div class="dropdown-header bg-light text-center">
          <strong>{{ username }}</strong>
        </div>
        <a class="dropdown-item app-pointer" (click)="doAccount()"><i class="mr-1 c-icon cil-shield-alt"></i> Account</a>
        <a class="dropdown-item app-pointer" (click)="doLogout()"><i class="mr-1 c-icon cil-account-logout"></i> Logout</a>
      </div>
    </li>
  </ul>

  <!-- breadcrumbs-->
  <div class="c-subheader justify-content-between px-3">
    <app-breadcrumb></app-breadcrumb>
  </div>
</header>